:root {
	--dark-color-900: #242528;
	--dark-color-700: #494a4c;
	--dark-color-600: #585a62;
	--dark-color-alpha-900: #43404076;
	--dark-color-100: #e4dede;
	--large-spacing: 24px;
	--medium-spacing: 12px;
	--small-spacing: 4px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.app {
	height: 100vh;
	background-color: var(--dark-color-900);
	color: #fff;
	padding: var(--large-spacing);
	display: flex;
	flex-direction: column;
	gap: var(--large-spacing);
}

.appDivider {
	border: 1px solid var(--dark-color-600);
	width: 100%;
}